<div class="card">
    <div class="card-body">
        <h5 class="card-title">Consulta de Tarefas</h5>
        <p class="card-text">Listagem de tarefas abertas para o usuário:</p>

        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Nome do tarefa</th>
                    <th>Data de Início</th>
                    <th>Data de Término</th>
                    <th>Descrição</th>
                    <th width="160">Operações</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>

                        <button class="btn btn-primary btn-sm">
                            Atualizar
                        </button>
                        &nbsp;
                        <button class="btn btn-danger btn-sm">
                            Excluir
                        </button>

                    </td>                    
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="5">
                        Quantidade de tarefas: 0
                    </td>
                </tr>
            </tfoot>
        </table>

    </div>
</div>