<div class="card">
    <div class="card-body">
      <h5 class="card-title">Criar conta de usuário</h5>
      <p class="card-text">Para criar sua conta de usuário, informe os dados abaixo:</p>
      
      <div class="text-danger">
        <ul>
            <li *ngFor="let item of mensagens_erro">{{item}}</li>
        </ul>
      </div>

      <div class="text-success">
        <ul>
            <li *ngFor="let item of mensagens_sucesso"><strong>{{item}}</strong></li>
        </ul>
      </div>

      <form #formRegister="ngForm" (submit)="cadastrarUsuario(formRegister)" autocomplete="off">

        <label>Nome do Usuário:</label>
        <input type="text" class="form-control"
            name="nome" ngModel
            placeholder="Ex: João da Silva"/>
        <br/>

        <label>Email:</label>
        <input type="text" class="form-control"
            name="email" ngModel
            placeholder="Ex: joaosilva@gmail.com"/>
        <br/>

        <label>Senha:</label>
        <input type="password" class="form-control"
            name="senha" ngModel
            placeholder="Digite aqui"/>
        <br/>

        <label>Confirme sua Senha:</label>
        <input type="password" class="form-control"
            name="senhaConfirmacao" ngModel
            placeholder="Digite aqui"/>
        <br/>

        <input type="submit" value="Realizar Cadastro"
            class="btn btn-success"/>

      </form>

    </div>
  </div>